src/main/mule/hello-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8664ff80-644e-4270-9f02-0b31ad1c2f62" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="hello-projectFlow" doc:id="efd04802-d62f-4854-9aeb-e246d29d1c77" >
		<http:listener doc:name="Listener" doc:id="8696d210-3d53-4c3a-a107-acf52fe314c8" config-ref="HTTP_Listener_config" path="/helloworld" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="36023150-0b7e-4b81-bdcb-d82ed4cd7c34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"welcome to mulesoft code suvarna"
	
	}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Phone" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.Phonenumber]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="03b4c9e8-a39a-41f2-921c-935e9fec99ba" />
	</flow>
</mule>
